.bg{
    background-image: url(../images/background.jpg);
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
  }

 /* .createPost{
      flex-direction: column;
  } */

  .container{
    align-self: center;
    margin: auto;
  }
  .primaryBtn{
      background-color:#FFCC00;
      border: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      padding: 15px 32px;
      text-align: center;
  }
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.modal-header{
    border-bottom: 1px solid black;
}

h2.modal-title{
  font-weight: lighter;
  margin: 0;
  margin-bottom: 5px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input,textarea {
  padding: 2%;
  border: 0;
  background-color: rgba(128, 128, 128, 0.137);
}

label {
  font-size: 15px;
  font-weight: bolder;
  margin: 10px 0;
} 
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-submit-btn{
  background-color: rgb(36, 187, 36);
  color: #fff;
  padding: 2%;
  font-size: 22px;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
}

form a{
  color: blue;
  cursor: pointer;
}

form p{
  align-self: center;
}

#createpostmodal .modal-content{
  width: 80%;
}

#createpostmodal .modal-content button.modal-submit-btn{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}